[Desktop Entry]
Name=ArchLinux Betterlockscreen
GenericName=Betterlockscreen
X-GNOME-FullName=Betterlockscreen
Comment=Change the image for the lockscreen
Comment[de]=Bild für den Sperrbildschirm ändern
Comment[fr]=Changer l'image de l'écran de verrouillage
Comment[nl]=De afbeelding voor het vergrendelscherm wijzigen
Comment[es]=Cambiar la imagen de la pantalla de bloqueo
Comment[it]=Cambia l'immagine della schermata di blocco
Comment[pt_BR]=Alterar a imagem da tela de bloqueio
Comment[pt]=Alterar a imagem do ecrã de bloqueio
Comment[ru]=Изменить изображение экрана блокировки
Comment[pl]=Zmień obraz ekranu blokady
Comment[uk]=Змінити зображення екрана блокування
Comment[zh_CN]=更改锁屏图像
Comment[ja]=ロック画面の画像を変更します
Comment[tr]=Kilit ekranı görüntüsünü değiştir
Comment[cs]=Změnit obrázek zamykací obrazovky
Exec=/usr/bin/archlinux-betterlockscreen
Icon=better-lock-screen
Terminal=false
Type=Application
Categories=GTK;GNOME;Utility;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;X-Kiro-Apps;
Keywords=tool;twm;color;
StartupNotify=true
